absl-py==2.3.1
attrs==25.3.0
av==15.0.0
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
contourpy==1.3.0
cycler==0.12.1
defusedxml==0.7.1
filelock==3.18.0
flatbuffers==25.2.10
fonttools==4.59.0
fsspec==2025.7.0
fvcore==0.1.5.post20221221
hf-xet==1.1.5
huggingface-hub==0.34.2
idna==3.10
importlib_metadata==8.7.0
importlib_resources==6.5.2
iopath==0.1.10
jax==0.4.30
jaxlib==0.4.30
Jinja2==3.1.6
kiwisolver==1.4.7
lap==0.5.12
MarkupSafe==3.0.2
matplotlib==3.9.4
mediapipe==0.10.21
ml_dtypes==0.5.1
mpmath==1.3.0
networkx==3.2.1
numpy==1.26.4
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
opt_einsum==3.4.0
packaging==25.0
pandas==2.3.1
parameterized==0.9.0
pillow==11.3.0
portalocker==3.2.0
protobuf==4.25.8
psutil==7.0.0
py-cpuinfo==9.0.0
pycparser==2.22
pyparsing==3.2.3
pyresearch==1.2
python-dateutil==2.9.0.post0
pytorchvideo==0.1.5
pytz==2025.2
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.4
safetensors==0.5.3
scipy==1.13.1
sentencepiece==0.2.0
six==1.17.0
sounddevice==0.5.2
supervision==0.26.1
sympy==1.14.0
tabulate==0.9.0
termcolor==3.1.0
tokenizers==0.21.4
torch==2.7.1
torchaudio==2.7.1
torchvision==0.22.1
tqdm==4.67.1
transformers==4.54.0
typing_extensions==4.14.1
tzdata==2025.2
ultralytics==8.3.170
ultralytics-thop==2.0.14
urllib3==2.5.0
yacs==0.1.8
zipp==3.23.0
